{%extends 'everything/base.html'%}
<link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro&display=swap" rel="stylesheet">
{%load bootstrap4 %}
{% block content %}
<div style="background-color: rgb(248, 246, 246);">
    <br>
    <div class="container">
        <div class="row">
            {% for pict in image_pic %}
            <div class="col-md-3 col-md-4">
                <div class="card" style="width: 400px;">
                    <img src="{{pict.pic.url}}" class="img-responsive btn btn-succes " height="350px" width="100%" alt="Image" type="button" data-toggle="modal" data-target="#{{pict.id}}" >
                    <p style="color: rgb(34, 33, 33);font-family: 'Pacifico', cursive;">{{ pict.description }}</p>
                    <p>From Kigali</p>
                    <hr>
                    <span style="font-family: cursive;"><img src="{{pict.profiles.pro_pic.url}}" style="height: 50px; width:50px;" class="rounded-circle profile-img">By {{pict.user_name}}</span>
                </div>
                <!-- codes from Bootstrap  -->
                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="{{pict.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title" id="exampleModalLabel">
                                    <img src="{{pict.pic.url}}" class="img-responsive" height="300px" width="400px" alt="Image"> 
                                    <p style="color: rgb(34, 33, 33);font-family: 'Pacifico', cursive;">{{ pict.description }}</p>
                                    <a href="https://instapicscom.herokuapp.com" type="button" class="btn danger">Visit Site</a>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            
            </div>
            
            {% endfor %}
        </div>
        
    </div>
    
    {% endblock %}
    
</div>
