{%extends 'everything/base.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/award.css' %}">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro&display=swap" rel="stylesheet">
{%load bootstrap4 %}

{% block content %}
<style>
    #overlay {
        background-image: url(../static/images/awards8.jpeg);
        height: 100vh;
        background-size: cover;
    }
    .spinners{
        width: 1000px;
        padding-top:280px;
        padding-left:200px;
    }

    .spinners .box {
        width: 25%;
        float: left;
    }

    .spinners .box .chart {
        position:relative;
        width: 110px;
        height: 110px;
        margin:0 auto;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 12px gold;
        font-size: 30px;
    }

</style>

<div class="rating-page above"style=" height: 100vh;background-attachment: fixed;">
    
    <div id="overlay">
        <div class="container-fluid">
            <div class="container spinners">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="chart" data-percent="{{contentper}}">Content {{ contentav }}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="chart" data-percent="{{ usabilityper }}">Usability {{ usabilityav }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="chart" data-percent="{{ designper }}">Design {{ designav }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="container-fluid" style="text-align: center;font-family:cursive;">
   
    <h3 class="project-details-heading">Project Details</h3>
    <p>{{ projects.description }}</p><br>

    <h3 class="project-details-heading">Visit The Site</h3>
    <a href="{{pict.link}}">Visit Site</a><br>
    <br><br>
    <h3 class="project-details-heading">Rate this site</h3>
   
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4">
            <h2 class="project-details-heading">Rate</h2>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data" id="ratingform">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="hidden" value="{{ pic.id }}" id="project_id">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit Rating</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h2 class="project-details-heading">Ratings</h2>
            <hr>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Design</th>
                        <th scope="col">Usability</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody class="t-data">
                    <tr>
                        <th scope="row">Average</th>
                        <td>All</td>
                        <td>{{ designav }}</td>
                        <td>{{ usabilityav }}</td>
                        <td>{{ contentav }}</td>
                    </tr>
                    {% if project_rating %}
                    {% for rating in project_rating %}
                    <tr class="rate{{rating.user.id}}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="t-user"><img src="{{ rating.user.profile.pro_pic.url }}" alt="profile picture"
                                class="rounded-circle custom-display border border-danger">{{ rating.user.username }}
                        </td>
                        <td class="t-design">{{ rating.design }}</td>
                        <td class="t-usability">{{ rating.usability }}</td>
                        <td class="t-content">{{ rating.content }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}